<ion-view title="TARS" id="page1/ConfigurarPesquisa">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Configurar Pesquisa" icon="ion-android-options" href="#/page1/ConfigurarPesquisa">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="No Screen" icon="ion-thumbsdown" href="#/page1/ConfigurarPesquisa">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="No Screen" icon="ion-thumbsdown" href="#/page1/ConfigurarPesquisa">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>